@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Silkscreen&family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.color0 {color: #252932;} .bg0 {background-color: #252932;}
.color1 {color: #195962;} .bg1 {background-color: #195962;}
.color2 {color: #553772;} .bg2 {background-color: #553772;}
.color3 {color: #8f3b76;} .bg3 {background-color: #8f3b76;}
.color4 {color: #c7417b;} .bg4 {background-color: #c7417b;}
.color5 {color: #F56F6C;} .bg5 {background-color: #F56F6C;}
.color6 {color: #f5487f;} .bg6 {background-color: #f5487f;}
.color7 {color: #F87C68;} .bg7 {background-color: #F87C68;}
.color8 {color: #FFB85B;} .bg8 {background-color: #FFB85B;}
.color9 {color: #F9F871;} .bg9 {background-color: #F9F871;}

body {
    font-size: 14px; 
}

h1, h2, h3 {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p, a {
    font-family: "Fira Sans";
}

.silkscreen {
    font-family: silkscreen;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tagcloud {
    display: inline-block;
    font-weight: bold;
}

.code {
    font-family: 'Source-Code-Pro', monospace;
}

.class { color: #F87C68; }
.function { color: #6be6f6; }
.keyword { color: #FFB85B; font-style: italic; }
.indent0 { padding-right: .75rem; }
.indent1 { padding-right: 2.5rem; }